1) Find the datatype of these two declarations

In [2]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

3) Check if an element exists in the list in Python.

In [49]:
3a=10

SyntaxError: invalid decimal literal (671370871.py, line 1)

In [51]:
@abc=10

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1070454341.py, line 1)

In [59]:
a100=100

In [61]:
_a984_=100

In [63]:
a9967$=100

SyntaxError: invalid syntax (3664551489.py, line 1)

In [65]:
xyz-2=100

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3328636375.py, line 1)

In [7]:
test_list = [1, 6, 3, 5, 3, 4]

exists_3 = 3 in test_list
print(f" Does 3 exists in the list ? {exists_3}")

exists_9 = 9 in test_list
print(f"Does 9 exist in the list? {exists_9}")

 Does 3 exists in the list ?True
Does 9 exist in the list? False

4) Take the user input to print the current date?

In [17]:
from datetime import datetime

D = input(" Enter any text to get current date")

current_date = datetime.now().date()

print(f"Current Date : {current_date}")

 Enter any text to get current date Hello

Current Date : 2024-07-27

5) What is the output of the following code?

In [27]:
a = 9
b = 2

print(f"Floor devision :", a//b)
print(f"Modulus :", a%b)

Floor devision : 4
Modulus : 1

6) Print the First 10 Natural Numbers using a while loop.

In [29]:
number = 1

count = 10 

while number <= count:
    print(number)
    number += 1

1
2
3
4
5
6
7
8
9
10

7) Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number.

In [43]:
n = int(input("enter a number :"))

sum = 0 

for i in range(1,n+1):
    sum += i

print(f"Sum of all numbers from 1 to {n} is {sum}")

enter a number : 4

Sum of all numbers from 1 to 4 is 10

8) Write a Python program that iterates the integers from 1 to 50.
For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz".
For numbers that are multiples of both three and five print "FizzBuzz"?

In [47]:
for n in range(1,51):
    if n % 3 == 0 and n % 5 == 0:
        print("FizzBuzz")
    elif n % 3 == 0:
        print("Fizz")
    elif 5 == 0:
        print("Buzz")
    else:
        print(n)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
35
Fizz
37
38
Fizz
40
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
50